[user]
  name = Diéssica Gurskas
  email = diessicode@gmail.com
  
[core]
  editor = vim

[alias]
  ## fast commands
  ad = add .
  br = branch
  cm = commit -m
  cam = commit -a -m
  pl = pull
  ps = push
  st = status

  ## intuitive commands
  # list tags
  tags = tag -l
  # list branches
  branches = branch -a
  # reset (uncomitted) changes
  abort = reset --hard HEAD
  # remove last commit
  uncommit = reset HEAD~1
  # rewrite last commit message
  recommit = commit --amend -m
  # show a full log
  graph = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  # name/email of the author
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  # commit name
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  
[apply]
  whitespace = fix
  
[color]
  ui = auto
  interactive = auto
  
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
  
[merge]
  log = true
  
[push]
  default = simple
